.body {
  background-color: rgb(241, 241, 241)
}

.align-center {
  text-align: center;
}

.header {
  margin: 15% 0;
}

.category-heading {
  color: rgb(158, 158, 158);
  font-weight: 200;
}
























































/* .body {
  display: flex;
  align-items: center; 
  flex-direction: column;
}

.general-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 7%
}

.all-snippets-container{
  width: 70%;
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
  margin-top: 100px;
}


.header {
  margin-bottom: 50px;
  display: flex;
  align-items: left;
}

.snippet-card {
  background-color: rgb(240, 240, 240);
  width: 100%; 
  margin: 10px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

pre {
  background-color: white;
  height: 50px;
}


.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px
}

.width{
  width: 70%
}













.post-form {
  background-color: rgb(240, 240, 240);
  width: 70%;
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
  margin-top: 30px ;
  padding: 20px;
  border-radius: 5px;
}

.post-form-label {
  margin-top: 20px;
}

.post-heading {
  width: 100%;
}

.post-code{
  width: 100%;
}

.post-button{
  margin: 20px 0
}



#search-box {
  position: relative;
  width: 70%;
  margin: 0;
  }
  
  #search-form 
  {
  height: 40px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  }
  
  #search-text 
  {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
  }
  
  #search-box input[type="text"]
  {
  width: 90%;
  padding: 11px 0 12px 1em;
  color: #333;
  outline: none;
  } */
  
  /* #search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color:#ColourCode;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  } */