.align-center {
  text-align: center;
}

.header {
  margin: 15% 0;
}

.category-heading {
  color: rgb(158, 158, 158);
  font-weight: 200;
}

.relative-pos {
  position: relative;
  height: calc(100vh - 56px);
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.margin-7 {
  margin: 7% 0;
}

.margin-top-7 {
  margin-top: 7%;
}

.border-right {
  border-right: 0.5px solid black;
}

.prettyprint {
  padding: 3%;
  white-space: pre;
}
